{% extends 'base.html' %}

{% block title %}
article list
{% endblock title %}

{% block content %}
<h1 class='pt-3' >article list</h1>    
    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example">
            <ul class="list-group list-group-flush">
                {% for article_pk in articles %}
                    <li class="list-group-item">
                        <a href="{{ url_for('.detail', pk = article_pk ) }}">{{ articles[article_pk].title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
