{% extends 'base.html' %}
{% block title %}
    article detail
{% endblock title %}
{% block content %}
    <h1 class='pt-3'>article detail</h1>
    <bp>
    <article class="blog-post">
        <h2 class='blog-post-title mb-1'>{{ article.title }}</h2>
        <p class="blog-post-meta">
            <p>
                author: <a href="{{ url_for('user.profile', id=article.author.user_id) }}">{{ article.author.user.username }}</a>
            </p>
            <p>Date Created: {{ article.date_created }}</p>
            <p>Date Updated: {{ article.date_updated }}</p>
        </p>
        <p>{{ article.body }}</p>
    </article>
</div>
{% endblock content %}