{% extends 'base.html' %}
{% from "macro/form_helpers.html" import render_field, render_flash_messages %}
{% block title %}
    Create/update article
{% endblock title %}
{% block content %}
    <h1>Create/update Article</h1>
    <form class="row g-3 mt-3" method="post" action="">
        {{ form.hidden_tag() }}
        {{ render_flash_messages() }}
        {% for field in ['title', "body", "tags" ] %}{{ render_field(form[field]) }}{% endfor %}
        {{ form.submit(class="col-auto btn btn-primary mb-3") }}
    </form>
{% endblock content %}
