{% extends 'base.html' %}
{% block title %}
    Create/update article
{% endblock title %}
{% block content %}
    <h1>Create/update Article</h1>
    <form method="post" action="">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="body">Body:</label>
        <textarea id="body" name="body"></textarea>
        <label for="author_id">Author ID:</label>
        <input type="text" id="author_id" name="author_id">
        <input type="submit" value="Create">
    </form>
{% endblock content %}
