{% from "macro/nav_helpers.html" import nav_link %}

<div class="container-fluid">
    <nav class="navbar navbar-expand bg-light rounded"
         aria-label="Twelfth navbar example">
        <div class="container">
            <div class="row">
                <ul class="navbar-nav  align-items-center">
                    {{ nav_link('article.list', 'articles')}}
                    {{ nav_link('user.list', 'users')}}
                    {% if current_user.is_anonymous %}
                        {{ nav_link('user.login', 'Login')}}
                        {{ nav_link('user.registration', 'Registration')}}
                    {% else %}
                        {{ nav_link('user.logout', 'Logout')}}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
